nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  font-weight: 600;
}

.profile header {
  text-align: center;
}

footer {
  font-weight: bold;
  text-align: center;
  background: #00a2c6;
  color: white;
  padding: 20px;
}

p {
  color: gray;
}

p {
  color: #666666;
}

p {
  color: #666;
}

p {
  color: rgb(102, 102, 102);
}

body {
  color: steelblue;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}