* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.flex-container-row {
  display: flex;
}

.button {
  flex-basis: 25%;

  /*properti pendukung*/
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.display {
  color: white;
  width: 100%;
  padding: 10px 20px;
  background-color: #333333;
  border: 1px solid black;
  font-size: 2em;
}

.double {
  flex-basis: 50%;
  background: orange;
}

.negative,
.operator,
.equals {
  background: rgb(255, 179, 0);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

.button:hover {
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
}